<% provide(:title, 'Home') %>
<p id="notice"><%= notice %></p>



<h3 align="left">About Dr.Anoohya:</h3> </br><p> Dr.Anoohya has a Masters Degree in Audiology and Speech Language Pathology.  </br>
She has been treating the patients with speech and hearing disabilities since 2012 </p>

<img src="/anu.jpeg" class="img1"><br /> 


