<footer>
<nav class="round">
	 Address:
          Dr.Anoohya, 
           Plot Number 11, Road Number1, 
           Beside Super Kids Techno School, 
          Rohini Colony, Vayupuri 
           Secunderabad, 
          Hyderabad - 500094 
           Telangana 
         
          </nav>
Copyright © Otonoro.com
</footer>